<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <appSettings>
    <add key="redisConnectionString" value="Password88__@cfd-redis1.chinacloudapp.cn:6399" />
    <add key="redisConnectionString_Live" value="Password88__@cfd-haproxy1.chinacloudapp.cn:6379" />

    <!--price live-->
    <add key="ayondoFixFeedCfgFilePath_Live" value="AyondoFeed_Live.cfg" />
    <add key="ayondoFixFeedUsername_Live" value="prices" />
    <add key="ayondoFixFeedPassword_Live" value="tduwspt" />
    
    <!--price demo-->
    <add key="ayondoFixFeedCfgFilePath" value="AyondoFeed.cfg" />
    <add key="ayondoFixFeedUsername" value="thcnprices" />
    <add key="ayondoFixFeedPassword" value="sl6map3go" />
    <!--price demo UAT-->
    <!--<add key="ayondoFixFeedCfgFilePath" value="AyondoFeed_UAT.cfg" />
    <add key="ayondoFixFeedUsername" value="thcnuatprices" />
    <add key="ayondoFixFeedPassword" value="slktrp2" />-->

    <!--trade live-->
    <!--<add key="ayondoFixTradeCfgFilePath" value="AyondoTrade_Live.cfg" />
    <add key="ayondoFixTradeUsername" value="thcnmaster" />
    <add key="ayondoFixTradePassword" value="slifj439r4" />-->
    <!--trade demo-->
    <!--<add key="ayondoFixTradeCfgFilePath" value="AyondoTrade.cfg" />
    <add key="ayondoFixTradeUsername" value="thcntrade"/>
    <add key="ayondoFixTradePassword" value="d093gos3j"/>-->
    <!--trade demo UAT-->
    <add key="ayondoFixTradeCfgFilePath" value="AyondoTrade_UAT.cfg" />
    <add key="ayondoFixTradeUsername" value="thcnuattrade" />
    <add key="ayondoFixTradePassword" value="cpqwqoyu" />

    <!--trade history host-->
    <add key="ayondoTradeHistoryHost" value="http://cfd-stunnel-cn2.cloudapp.net:14535/" />
    <!--<add key="ayondoTradeHistoryHost_Live" value="http://cfd-stunnel-cn2.cloudapp.net:15535/" />-->
    <!--<add key="ayondoTradeHistoryHost_Live" value="http://stunnel-live.cloudapp.net:14535/" />-->
    <add key="ayondoTradeHistoryHost_Live" value="https://www.tradehub.net/" />

    <add key="AyondoTradeSvcUrl" value="net.tcp://ayondotrade.chinacloudapp.cn:10100/ayondotrade" />
    <!--<add key="AyondoTradeSvcUrl" value="net.tcp://10.0.0.15:10100/ayondotrade" />-->
    <add key="YunPianApiKey" value="faf57dcccf1bff886c1ee4626bf1db28" />
  </appSettings>

  <connectionStrings>
    <add name="CFDEntities" connectionString="data source=thvm-chinap3.chinacloudapp.cn,888;failover partner=thvm-chinap2.chinacloudapp.cn,888;connect timeout=30;initial catalog=CFD;persist security info=True;user id=tradehero_sa;password=__sa90070104th__;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CFDHistoryEntities" connectionString="data source=thvm-chinap2.chinacloudapp.cn,888;initial catalog=CFD_History;persist security info=True;user id=tradehero_sa;password=__sa90070104th__;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>