<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>

  <appSettings>
    <!--<add key="redisConnectionString" value="Password88__@cfd-redis.chinacloudapp.cn:6379" />-->
    <add key="redisConnectionString" value="Password88__@cfd-haproxy1.chinacloudapp.cn:6399" />

    <add key="ayondoFixTradeCfgFilePath" value="AyondoTrade.cfg" />

    <add key="YunPianApiKey" value="faf57dcccf1bff886c1ee4626bf1db28" />
    <add key="YunPianTemplateId" value="444007" />

    <!--trade demo-->
    <add key="ayondoFixTradeUsername" value="thcntrade" />
    <add key="ayondoFixTradePassword" value="d093gos3j" />
    <!--trade demo UAT-->
    <!--<add key="ayondoFixTradeUsername" value="thcnuattrade"/>
    <add key="ayondoFixTradePassword" value="cpqwqoyu"/>-->
  </appSettings>

  <connectionStrings>
    <add name="CFDEntities" connectionString="data source=thvm-chinap3.chinacloudapp.cn,888;initial catalog=CFD;persist security info=True;user id=tradehero_sa;password=__sa90070104th__;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>