<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="redisConnectionString" value="Password88__@cfd-redis.chinacloudapp.cn:6379" />
    <add key="ayondoFixTradeCfgFilePath" value="AyondoTrade.cfg" />
  </appSettings>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wcfBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--<bindings>
      <basicHttpBinding>
        <binding name="httpBinding" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="tcpBinding" />
      </netTcpBinding>
    </bindings>-->

    <!--<protocolMapping>
      <add scheme="http"     binding="basicHttpBinding"/>
      <add scheme="net.tcp"  binding="netTcpBinding"/>
      <add scheme="net.pipe" binding="netNamedPipeBinding"/>
      <add scheme="net.msmq" binding="netMSMQBinding"/>
    </protocolMapping>-->
    
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />-->

    <services>
      <service name="AyondoTrade.AyondoTradeService" behaviorConfiguration="wcfBehavior">
        <endpoint address="" contract="AyondoTrade.IAyondoTradeService" binding="basicHttpBinding" />
        <!--<endpoint address="" contract="AyondoTrade.IAyondoTradeService" binding="netTcpBinding" />-->
      </service>
    </services>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
